@model  Biquette.ViewModels.ChooseNameViewModel

@{
	ViewBag.Title = Resources.choose_name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.choose_name</h2>

@if (ViewBag.ErrorMessage != null)
{
	<p style="color: red;">@ViewBag.ErrorMessage</p>
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.HiddenFor(model => model.ReturnUrl)

	<hr />
	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-2">@Resources.your_name</label>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="@Resources.validate" class="btn btn-default" />
			</div>
		</div>
	</div>
}
