@model  Biquette.ViewModels.NewGameViewModel

@{
	ViewBag.Title = Resources.create_game;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.create_game</h2>

@if (ViewBag.ErrorMessage != null)
{
	<p style="color: red;">@ViewBag.ErrorMessage</p>
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<hr />
	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-2">@Resources.url_to_share</label>
			<div class="col-md-10">
				<input type="text" class="form-control inlineblock" name="url" value="@Url.Action("NewGame", "Game", new { key = Model.Key }, "http")" id="url-to-share" />
				<input type="button" value="@Resources.copy_to_clipboard" class="btn btn-default inlineblock" onclick="copyToClipboard()"/>
			</div>
		</div>
		<hr />
		<div class="form-group">
			<label class="control-label col-md-2">@Resources.players</label>
			<div class="col-md-10">
				<ul id="players-list" class="list-group"></ul>
			</div>
		</div>
		@if (Model.IsCreator)
		{
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="@Resources.start_the_game" class="btn btn-default" />
				</div>
			</div>
		}
	</div>
}

@section scripts{
	<script type="text/javascript">
		function loadPlayers() {
			$.post('@Url.Action("GetCurrentPlayers", "Game", new { key = Model.Key })', function (result) {
				$("ul").empty();
				$.each(result.players, function (i, item) {
					$('#players-list').append('<li class="list-group-item">' + item + '</li>');
				});
				if (result.stopCalls) {
					clearInterval(intervalID);
				}
				if (result.gameStarted) {
					document.location = '@Url.Action("Play", "Game", new { key = Model.Key })';
				}
			});
		}

		function copyToClipboard() {
			var copyText = document.getElementById("url-to-share");
			copyText.focus();
			copyText.select();
			document.execCommand("copy");
		}

		loadPlayers();

		var intervalID = window.setInterval(loadPlayers, 2500);
	</script>
}
